@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Balsamiq Sans', cursive !important;
  background: #d6e3f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'Balsamiq Sans', cursive !important;
}

.date-chooser {
  display: flex;
  margin-bottom: 20px;
}

.date-chooser-button {
  color: #0b204c;
  text-transform: uppercase;
  flex: 1;
  padding: 15px;
  background: none;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid rgba(11, 32, 76, 0.2);
  outline: none;
}

.date-chooser-button span {
  display: block;
  min-height: 60px;
  font-size: 50px;
}

.calendar {
  max-width: 400px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background: #0b204c;
  color: #fff;
  padding: 20px;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.3s ease background;
  border: none;
  outline: none;
  cursor: pointer;
  color: #8096c1;
  background: none;
}
