@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background: #d6e3f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'Balsamiq Sans', cursive !important;
}
